* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*main content*/

main {
  background-color: blue;
  padding-top: 10vh;
  width: 100%;
  min-height: 100vh;
}

/* footer navigation bar */
.footer-nav {
  background-color: palegreen;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.footer-nav__link {
  color: pink;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

/* footer active page  */

.footer-nav__link.active {
  background-color: yellow; /* Change to your preferred color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes it a circle */
  width: 70px; /* Adjust the width to make it the desired size */
  height: 70px; /* Adjust the height to make it the desired size */
  text-align: center;
  text-decoration: none;
}
.footer-nav__link.active span {
  font-size: 24px;
  margin-bottom: 5px;
}

/* visually hidden text on footer  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
