* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*main content*/

main {
  background-color: blue;
  padding-top: 10vh;
  width: 100%;
  min-height: 100vh;
}

/* footer navigation bar */
