.header {
  background-color: pink;
  color: blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header__title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  /* padding: 10px 20px; */
  background: transparent;
  /* padding: 20px; */
}
