.hidden {
  display: none;
}

.question-card__answer-button {
  display: flex;
  justify-content: center;
  color: white;
  background-color: blueviolet;
}

.question-card__answer {
  color: white;
  background-color: lightsalmon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 0;
  align-items: center;
}
